<header class="top">
  <div class="container">
    <a href="/" class="logo"
       (click)="toFeed($event)">
      ПолиХабр
    </a>
  </div>
</header>
<div class="background">
  <div class="layout">
    <div class="content">
      <h1 class="title">Восстановление пароля</h1>
      <div class="form email" [ngClass]="{'error': registerErrorConfig.emailError}">
        <div class="title">E-mail</div>
        <input type="email"
               (change)="checkFieldValidation(RegexType.EMAIL, emailInputElement, InputFieldsType.EMAIL)"
               #emailInputElement>
        <div class="error-text" [ngClass]="{'active': registerErrorConfig.emailError}">{{registerErrorConfig.emailError}}</div>
      </div>
      <button class="enter" (click)="sendEmail($event)">Отправить</button>
    </div>
  </div>
  <div class="layout no_account">
    <a href="/register" (click)="toLogin($event)">Войти</a>
    <div>или</div>
    <a href="/login" (click)="toRegistration($event)">Зарегистроваться</a>
  </div>
</div>
