@use "src/base";


.top {
  height: 68px;
  border-bottom: 1px solid base.$col-green-pale;
  background: base.$col-white;

  .container {
    height: 100%;
    background: base.$col-white;

    .logo {
      width: fit-content;
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 24px;
      font-weight: 700;
    }
  }
}


.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: base.$col-gray-pale;
  height: 100vh;

  .layout {
    background: base.$col-white;
    margin-top: 80px;
    width: 460px;
    max-width: 460px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;

    .content {
      display: flex;
      flex-direction: column;
      padding: 40px;

      .title {
        font-weight: 600;
      }

      .form {
        @extend %form;
      }

      .enter {
        margin-top: 28px;
        height: 48px;
        font-size: 15px;
        width: 100%;
      }

      .forgot_password {
        margin-top: 15px;
        color: base.$col-green-light;
      }
    }

    a {
      margin-right: 5px;
    }
  }

  .no_account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    min-height: 46px;
    margin-bottom: 40px;

    div {
      font-size: 14px;
    }

    a {
      padding: 0;
      background: transparent;
      border: 0;
      margin-left: 5px;
      font-size: 14px;
      color: base.$col-green-light;
    }
  }
}
