<header class="top">
  <div class="container">
    <a href="/" class="logo"
       (click)="toFeed($event)">
      ПолиХабр
    </a>
  </div>
</header>
<div class="background">
  <div class="layout">
    <div class="content">
      <h1 class="title">Новый пароль</h1>
      <div class="form password" [ngClass]="{'error': registerErrorConfig.passwordError}">
        <div class="title">Пароль</div>
        <input type="password" #passwordInputElement>
        <div class="error-text" [ngClass]="{'active': registerErrorConfig.passwordError}">{{registerErrorConfig.passwordError}}</div>
      </div>
      <div class="form password again" [ngClass]="{'error': registerErrorConfig.passwordAgainError}">
        <div class="title">Пароль еще раз</div>
        <input type="password" #passwordAgainInputElement>
        <div class="error-text" [ngClass]="{'active': registerErrorConfig.passwordAgainError}">{{registerErrorConfig.passwordAgainError}}</div>
      </div>
      <button class="enter" (click)="confirmPassword($event)">Подтвердить</button>
    </div>
  </div>
</div>
