<article [ngClass]="{full:isFull(), short: isShort(), last: isLast}" *ngIf="article" #root>
  <div class="head">
    <a href="#" class="name" *ngIf="!isShort()">{{article.user.login}}</a>
    <div class="date">{{article.date}}</div>
  </div>
  <a href="#" (click)="toArticle($event)">
    <h2 class="title">{{article.title}}</h2>
  </a>
  <div class="tags" *ngIf="!isShort()">
    <a href="#" *ngFor="let tag of article.listDisciplineName">{{tag}}</a>
  </div>
  <div class="type chip" *ngIf="!isShort() && article.typeId">{{article.typeId.name}}</div>
  <img *ngIf="!isShort() && article.previewImgId && article.previewImgId.length > 0" [src]="getImageUrl()"/>
  <div class="body" *ngIf="!isShort() && !isFull()" [innerHtml]="getPreview()"></div>
  <div class="body" *ngIf="isFull()" [innerHtml]="getText()"></div>
  <iframe *ngIf="isFull() && this.article.fileId"
          [src]="getPreviewUrl()| safe"
          width="700" height="500"
          style="border: none;"></iframe>

  <div class="footer">
    <a href="#" class="more chip selectable" *ngIf="isFull() && this.article.fileId"
       (click)="toFile($event)">
      <span>Скачать работу</span>
    </a>
    <a href="#" class="more chip selectable" *ngIf="isDefault()"
       (click)="toArticle($event)">
      <span>Читать дальше →</span>
    </a>
    <a href="#" class="more chip selectable" *ngIf="isEditable"
       (click)="toUpload($event)">
      <span>Редактировать работу</span>
    </a>
    <div class="tags actual" style="margin-top: 16px" *ngIf="!isShort()">
      <a href="#" *ngFor="let tag of article.listTag">{{tag}}</a>
    </div>
    <div class="info">
      <div class="rating" (click)="likeDislike()">
        <svg height="24" width="24">
          <title>Рейтинг</title>
          <use xlink:href="assets/images/icons/icon-set.svg#counter-rating"></use>
        </svg>
        <span>{{article.likes}}</span>
      </div>
      <div class="views">
        <svg height="24" width="24">
          <title>Просмотры</title>
          <use xlink:href="assets/images/icons/icon-set.svg#counter-views"></use>
        </svg>
        <span>{{article.viewCount}}</span>
      </div>
      <div class="favourite link" *ngIf="DataHelper.user" (click)="addRemoveFav()">
        <svg height="24" width="24" [ngClass]="{selected:article.isSaveToFavourite}">
          <title>Добавить в закладки</title>
          <use xlink:href="assets/images/icons/icon-set.svg#counter-favorite"></use>
        </svg>
      </div>
    </div>
  </div>
</article>
