@use "src/base";


.top {
  height: 68px;
  border-bottom: 1px solid base.$col-green-pale;
  background: base.$col-white;

  .container {
    height: 100%;
    background: base.$col-white;

    .logo {
      width: fit-content;
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: base.$col-gray-pale;
  height: 100vh;

  .layout {
    background: base.$col-white;
    margin-top: 80px;
    width: 460px;
    max-width: 460px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;

    .content {
      display: flex;
      flex-direction: column;
      padding: 40px;

      .title {
        font-weight: 600;
      }

      .form {
        .title {
          font-size: 14px;
          margin-bottom: 12px;
          font-weight: 700;
        }

        input {
          width: calc(100% - 15px * 2);
          border: 1px solid base.$col-gray-second;
          outline: none;
          padding: 0 14px;
          height: 40px;
        }
        &.error {
          input {
            border: 1px solid base.$col-red;
          }
        }
      }

      .nickname {
        margin-top: 57px;

        input {
          width: 100%;
        }
      }

      .password {
        margin-top: 31px;

        .error-text {
          display: none;

          &.active {
            display: flex;
            color: red;
            margin-top: 10px;
          }
        }
      }

      .enter {
        margin-top: 28px;
        height: 48px;
        font-size: 15px;
        width: 100%;
      }

      .forgot_password {
        margin-top: 15px;
        color: base.$col-green-light;
      }
    }
  }

  .no_account {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 46px;
    margin-top: 16px;
    margin-bottom: 40px;

    div {
      font-size: 14px;
    }

    a {
      padding: 0;
      background: transparent;
      border: 0;
      margin-left: 8px;
      font-size: 14px;
      color: base.$col-green-light;
    }
  }
}
