<header class="top">
  <div class="container">
    <a href="/" class="logo"
       (click)="toFeed($event)">
      ПолиХабр
    </a>
  </div>
</header>
<div class="background">
  <div class="layout">
    <div class="content">
      <h1 class="title">Вход</h1>
      <div class="form email" [ngClass]="{'error': registerErrorConfig.emailError}">
        <div class="title">E-mail</div>
        <input type="email"
               [(ngModel)]="emailInputValue"
               (ngModelChange)="checkFieldValidation(RegexType.EMAIL, $event, InputFieldsType.EMAIL)"
                #emailInputElement>
        <div class="error-text" [ngClass]="{'active': registerErrorConfig.emailError}">{{registerErrorConfig.emailError}}</div>
      </div>
      <div class="form name" [ngClass]="{'error': registerErrorConfig.nameError}">
        <div class="title">Имя</div>
        <input type="text"
               [(ngModel)]="nameInputValue"
               (ngModelChange)="checkFieldValidation(RegexType.NAME, $event, InputFieldsType.NAME)"
               #nameInputElement>
        <div class="error-text" [ngClass]="{'active': registerErrorConfig.nameError}">{{registerErrorConfig.nameError}}</div>
      </div>
      <div class="form surname" [ngClass]="{'error': registerErrorConfig.surnameError}">
        <div class="title">Фамилия</div>
        <input type="text"
               [(ngModel)]="surnameInputValue"
               (ngModelChange)="checkFieldValidation(RegexType.SURNAME, $event, InputFieldsType.SURNAME)"
               #surnameInputElement>
        <div class="error-text" [ngClass]="{'active': registerErrorConfig.surnameError}">{{registerErrorConfig.surnameError}}</div>
      </div>
      <div class="form nickname"
           [ngClass]="{'error': registerErrorConfig.nicknameError}">
        <div class="title">Никнейм</div>
        <input type="text"
               [(ngModel)]="nicknameInputValue"
               (ngModelChange)="checkFieldValidation(RegexType.LOGIN, $event, InputFieldsType.NICKNAME)"
               #nicknameInputElement>
        <div class="error-text" [ngClass]="{'active': registerErrorConfig.nicknameError}">{{registerErrorConfig.nicknameError}}</div>
      </div>
      <div class="form password" [ngClass]="{'error': registerErrorConfig.passwordError}">
        <div class="title">Пароль</div>
        <input type="password" #passwordInputElement>
        <div class="error-text" [ngClass]="{'active': registerErrorConfig.passwordError}">{{registerErrorConfig.passwordError}}</div>
      </div>
      <div class="form password again" [ngClass]="{'error': registerErrorConfig.passwordAgainError}">
        <div class="title">Пароль еще раз</div>
        <input type="password" #passwordAgainInputElement>
        <div class="error-text" [ngClass]="{'active': registerErrorConfig.passwordAgainError}">{{registerErrorConfig.passwordAgainError}}</div>
      </div>
      <button class="enter" (click)="onEnterButtonClicked($event)">Зарегистрироваться</button>
      <a class="forgot_password" (click)="toForgotPassword($event)">Забыли пароль?</a>
    </div>
  </div>
  <div class="layout no_account">
    <div>Уже зарегестрированы?</div>
    <a href="/login" (click)="toLogin($event)">Войдите</a>
  </div>
</div>
